<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dev.holewinski.moledro</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.618777110250-f52l4iiv9r9eeehv4fsdj3je421kcmt6</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
